*{
    margin: 0px;
    padding: 0px;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 80px;
    background-color: white;

    

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b3afaf;

}
.myntra_home{
    height: 45px;
    /* width: 53px; */
}

.logo_container{
    margin-left: 2%;
}
.action_bar{
    margin-right: 2%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;

}

.nav_bar a{
    
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    
    color: #282c3f;
   
    
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0;
    box-sizing: content-box;
    border-bottom: 5px solid white;
}
.nav_bar a:hover{
    border-bottom: 5px solid pink;
}

.nav_bar a sup{
    top: -.4rem;
    font-size: 10px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    text-transform: uppercase;
    color: #ff3f6c;
}

.search_bar{
    color: white;
    height: 40px;
    min-width: 200px;
    display:flex;
    
    
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input{


    width: 320px;
    font-size: 14px;
    height: 40px;
    
    color: #696e79;
    flex-grow: 1;
    background-color: #f5f5f6;
    border-radius: 0 4px 4px 0;
    
   
    
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}




banner_conatiner{
    margin: 40px;
}
.b_img{
    width: 100%;
    height: 25%;
}




.cat_head{
        text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.sale_item{
    width: 250px;
}




.footer_container{
    padding: 30px 0px 40px 0;
    background-color: #FAFBFC;
    display: flex;
    justify-content: space-evenly;

}
.footer_column{
    display: flex;
    flex-direction: column;


}
.footer_column a{
        color: #696b79;
    
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;


}

.footer_column h3{
    text-decoration: none;
    color: #282c3f;
    margin-bottom: 20px;
}

.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}